workflows/claude-memory-archive.json
{"updatedAt":"2026-03-29T17:04:17.014Z","createdAt":"2026-03-29T17:00:03.736Z","id":"s3TSZpiMWYTLWkrj","name":"Claude Memory - Archive","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"memory-archive","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"0405d0b9-1744-4561-b2a2-cefda50d99fa","name":"Webhook","webhookId":"168667ca-ac0d-43f7-a531-f37a01bd5d89"},{"parameters":{"operation":"executeQuery","query":"UPDATE memories\nSET is_active = false,\n    updated_at = NOW()\nWHERE id = $1\nRETURNING id, name, is_active, updated_at;\n","options":{"queryReplacement":"={{ $json.body.id }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[208,0],"id":"76248648-aba4-4c36-9527-2e6b3bb1e00e","name":"Execute a SQL query","credentials":{"postgres":{"id":"CNiR8MIJrYb086F1","name":"Claude Memory DB"}}},{"parameters":{"respondWith":"allIncomingItems","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[416,0],"id":"da3e0833-98ad-4ad9-b122-11affd23caa5","name":"Respond to Webhook"}],"connections":{"Webhook":{"main":[[{"node":"Execute a SQL query","type":"main","index":0}]]},"Execute a SQL query":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"99aea0eb-152c-405c-918f-a5eeb0d52011","activeVersionId":"99aea0eb-152c-405c-918f-a5eeb0d52011","versionCounter":18,"triggerCount":1,"shared":[{"updatedAt":"2026-03-29T17:00:03.739Z","createdAt":"2026-03-29T17:00:03.739Z","role":"workflow:owner","workflowId":"s3TSZpiMWYTLWkrj","projectId":"6oNCtDfUlSRTDEYb","project":{"updatedAt":"2026-03-25T19:36:06.220Z","createdAt":"2026-03-25T19:29:07.071Z","id":"6oNCtDfUlSRTDEYb","name":"Christopher carnoldbuildstech@gmail.com <carnoldbuildstech@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"26a08216-6383-4c58-a0ef-dee54fa50bb0"}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-29T17:04:19.000Z","createdAt":"2026-03-29T17:04:17.015Z","versionId":"99aea0eb-152c-405c-918f-a5eeb0d52011","workflowId":"s3TSZpiMWYTLWkrj","nodes":[{"parameters":{"httpMethod":"POST","path":"memory-archive","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"0405d0b9-1744-4561-b2a2-cefda50d99fa","name":"Webhook","webhookId":"168667ca-ac0d-43f7-a531-f37a01bd5d89"},{"parameters":{"operation":"executeQuery","query":"UPDATE memories\nSET is_active = false,\n    updated_at = NOW()\nWHERE id = $1\nRETURNING id, name, is_active, updated_at;\n","options":{"queryReplacement":"={{ $json.body.id }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[208,0],"id":"76248648-aba4-4c36-9527-2e6b3bb1e00e","name":"Execute a SQL query","credentials":{"postgres":{"id":"CNiR8MIJrYb086F1","name":"Claude Memory DB"}}},{"parameters":{"respondWith":"allIncomingItems","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[416,0],"id":"da3e0833-98ad-4ad9-b122-11affd23caa5","name":"Respond to Webhook"}],"connections":{"Webhook":{"main":[[{"node":"Execute a SQL query","type":"main","index":0}]]},"Execute a SQL query":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"authors":"Christopher carnoldbuildstech@gmail.com","name":"Version 99aea0eb","description":"","autosaved":true,"workflowPublishHistory":[{"createdAt":"2026-03-29T17:04:19.246Z","id":9,"workflowId":"s3TSZpiMWYTLWkrj","versionId":"99aea0eb-152c-405c-918f-a5eeb0d52011","event":"activated","userId":"26a08216-6383-4c58-a0ef-dee54fa50bb0"}]}}