workflows/claude-memory-write.json
{"updatedAt":"2026-03-29T16:56:28.449Z","createdAt":"2026-03-29T16:34:54.855Z","id":"570KLRIR086Xi3mm","name":"Claude Memory - Write","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"memory-write","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"8f57b676-8fcd-49e3-863c-afbf7957e208","name":"Webhook","webhookId":"ace287a3-cfc6-48e3-95bf-ea200bf58a77"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO memories (type, name, description, content)\nVALUES ($1, $2, $3, $4)\nON CONFLICT (type, name)\nDO UPDATE SET\n  content = EXCLUDED.content,\n  description = EXCLUDED.description,\n  updated_at = NOW()\nRETURNING id, type, name, updated_at;\n","options":{"queryReplacement":"={{ $json.body.type }}, {{ $json.body.name }}, {{ $json.body.description }}, {{ $json.body.content}}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[208,0],"id":"0501db11-c152-4707-90e6-1ad9f178a3c0","name":"Execute a SQL query","credentials":{"postgres":{"id":"CNiR8MIJrYb086F1","name":"Claude Memory DB"}}},{"parameters":{"respondWith":"allIncomingItems","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[416,0],"id":"668de5c8-4167-4e3e-a13b-56f5c7b23994","name":"Respond to Webhook"}],"connections":{"Webhook":{"main":[[{"node":"Execute a SQL query","type":"main","index":0}]]},"Execute a SQL query":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"d78c0ce9-7231-43ab-a3ac-ba49dd519080","activeVersionId":"d78c0ce9-7231-43ab-a3ac-ba49dd519080","versionCounter":26,"triggerCount":1,"shared":[{"updatedAt":"2026-03-29T16:34:54.857Z","createdAt":"2026-03-29T16:34:54.857Z","role":"workflow:owner","workflowId":"570KLRIR086Xi3mm","projectId":"6oNCtDfUlSRTDEYb","project":{"updatedAt":"2026-03-25T19:36:06.220Z","createdAt":"2026-03-25T19:29:07.071Z","id":"6oNCtDfUlSRTDEYb","name":"Christopher carnoldbuildstech@gmail.com <carnoldbuildstech@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"26a08216-6383-4c58-a0ef-dee54fa50bb0"}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-29T16:53:23.000Z","createdAt":"2026-03-29T16:53:17.454Z","versionId":"d78c0ce9-7231-43ab-a3ac-ba49dd519080","workflowId":"570KLRIR086Xi3mm","nodes":[{"parameters":{"httpMethod":"POST","path":"memory-write","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"8f57b676-8fcd-49e3-863c-afbf7957e208","name":"Webhook","webhookId":"ace287a3-cfc6-48e3-95bf-ea200bf58a77"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO memories (type, name, description, content)\nVALUES ($1, $2, $3, $4)\nON CONFLICT (type, name)\nDO UPDATE SET\n  content = EXCLUDED.content,\n  description = EXCLUDED.description,\n  updated_at = NOW()\nRETURNING id, type, name, updated_at;\n","options":{"queryReplacement":"={{ $json.body.type }}, {{ $json.body.name }}, {{ $json.body.description }}, {{ $json.body.content}}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[208,0],"id":"0501db11-c152-4707-90e6-1ad9f178a3c0","name":"Execute a SQL query","credentials":{"postgres":{"id":"CNiR8MIJrYb086F1","name":"Claude Memory DB"}}},{"parameters":{"respondWith":"allIncomingItems","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[416,0],"id":"668de5c8-4167-4e3e-a13b-56f5c7b23994","name":"Respond to Webhook"}],"connections":{"Webhook":{"main":[[{"node":"Execute a SQL query","type":"main","index":0}]]},"Execute a SQL query":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"authors":"Christopher carnoldbuildstech@gmail.com","name":"Version d78c0ce9","description":"","autosaved":true,"workflowPublishHistory":[{"createdAt":"2026-03-29T16:53:23.842Z","id":5,"workflowId":"570KLRIR086Xi3mm","versionId":"d78c0ce9-7231-43ab-a3ac-ba49dd519080","event":"activated","userId":"26a08216-6383-4c58-a0ef-dee54fa50bb0"}]}}