workflows/claude-memory-session-context.json
{"updatedAt":"2026-03-29T21:11:29.243Z","createdAt":"2026-03-29T17:10:23.101Z","id":"70OK45ZnjnIrrtcx","name":"Claude Memory - Session Context","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"path":"session-context","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,-80],"id":"f2d0b23a-3d0e-4445-a305-37724b9dac6c","name":"Webhook","webhookId":"e2a946d8-5bab-4f0e-a22f-69a8ae87dee9"},{"parameters":{"operation":"executeQuery","query":"SELECT type, name, description, content\nFROM memories\nWHERE is_active = true\nORDER BY type, updated_at DESC\nLIMIT 50;\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[224,-80],"id":"af53726a-8646-4007-abd7-104eb5bc6360","name":"Get Memories","alwaysOutputData":true,"credentials":{"postgres":{"id":"CNiR8MIJrYb086F1","name":"Claude Memory DB"}}},{"parameters":{"jsCode":"const memories = $('Get Memories').all();\nconst conversations = $('Get Conversations').all();\n\n// Group memories by type\nconst grouped = {};\nfor (const item of memories) {\n  const { type, name, description, content } = item.json;\n  if (!grouped[type]) grouped[type] = [];\n  grouped[type].push(`### ${name}\\n${description ? description + '\\n' : ''}${content}`);\n}\n\n// Build memories section\nlet output = '## Active Memories\\n\\n';\nfor (const [type, entries] of Object.entries(grouped)) {\n  output += `**${type.toUpperCase()}**\\n\\n`;\n  output += entries.join('\\n\\n') + '\\n\\n';\n}\n\n// Build conversations section\noutput += '## Recent Sessions\\n\\n';\nif (conversations.length === 0) {\n  output += 'No previous sessions recorded.\\n';\n} else {\n  for (const item of conversations) {\n    const { session_date, persona, topics, summary, key_decisions } = item.json;\n    const date = new Date(session_date).toLocaleDateString('en-US', { month: 'short', day: 'numeric', year: 'numeric' });\n    output += `**${date}${persona ? ' — ' + persona : ''}**\\n`;\n    output += `${summary}\\n`;\n    if (key_decisions) output += `Decisions: ${key_decisions}\\n`;\n    output += '\\n';\n  }\n}\n\nreturn [{ json: { context: output } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[672,-80],"id":"1323f03e-6172-42aa-9d39-60f58b12e55a","name":"Code in JavaScript","executeOnce":true},{"parameters":{"respondWith":"text","responseBody":"={{ $json.context }}\n","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[896,-80],"id":"4be1c893-84f7-4a9d-9cca-c78151179c25","name":"Respond to Webhook"},{"parameters":{"operation":"executeQuery","query":"SELECT session_date, persona, topics, summary, key_decisions\nFROM conversations\nORDER BY session_date DESC\nLIMIT 7;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[448,-80],"id":"7ccccfc5-cd6a-404b-84b9-7e237369d245","name":"Get Conversations","credentials":{"postgres":{"id":"CNiR8MIJrYb086F1","name":"Claude Memory DB"}},"executeOnce":true}],"connections":{"Webhook":{"main":[[{"node":"Get Memories","type":"main","index":0}]]},"Get Memories":{"main":[[{"node":"Get Conversations","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Get Conversations":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false,"callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"e374188d-9d66-4417-9d36-0d4df40bd0f5","activeVersionId":"e374188d-9d66-4417-9d36-0d4df40bd0f5","versionCounter":53,"triggerCount":1,"shared":[{"updatedAt":"2026-03-29T17:10:23.104Z","createdAt":"2026-03-29T17:10:23.104Z","role":"workflow:owner","workflowId":"70OK45ZnjnIrrtcx","projectId":"6oNCtDfUlSRTDEYb","project":{"updatedAt":"2026-03-25T19:36:06.220Z","createdAt":"2026-03-25T19:29:07.071Z","id":"6oNCtDfUlSRTDEYb","name":"Christopher carnoldbuildstech@gmail.com <carnoldbuildstech@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"26a08216-6383-4c58-a0ef-dee54fa50bb0"}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-29T21:11:29.243Z","createdAt":"2026-03-29T21:11:29.243Z","versionId":"e374188d-9d66-4417-9d36-0d4df40bd0f5","workflowId":"70OK45ZnjnIrrtcx","nodes":[{"parameters":{"path":"session-context","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,-80],"id":"f2d0b23a-3d0e-4445-a305-37724b9dac6c","name":"Webhook","webhookId":"e2a946d8-5bab-4f0e-a22f-69a8ae87dee9"},{"parameters":{"operation":"executeQuery","query":"SELECT type, name, description, content\nFROM memories\nWHERE is_active = true\nORDER BY type, updated_at DESC\nLIMIT 50;\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[224,-80],"id":"af53726a-8646-4007-abd7-104eb5bc6360","name":"Get Memories","alwaysOutputData":true,"credentials":{"postgres":{"id":"CNiR8MIJrYb086F1","name":"Claude Memory DB"}}},{"parameters":{"jsCode":"const memories = $('Get Memories').all();\nconst conversations = $('Get Conversations').all();\n\n// Group memories by type\nconst grouped = {};\nfor (const item of memories) {\n  const { type, name, description, content } = item.json;\n  if (!grouped[type]) grouped[type] = [];\n  grouped[type].push(`### ${name}\\n${description ? description + '\\n' : ''}${content}`);\n}\n\n// Build memories section\nlet output = '## Active Memories\\n\\n';\nfor (const [type, entries] of Object.entries(grouped)) {\n  output += `**${type.toUpperCase()}**\\n\\n`;\n  output += entries.join('\\n\\n') + '\\n\\n';\n}\n\n// Build conversations section\noutput += '## Recent Sessions\\n\\n';\nif (conversations.length === 0) {\n  output += 'No previous sessions recorded.\\n';\n} else {\n  for (const item of conversations) {\n    const { session_date, persona, topics, summary, key_decisions } = item.json;\n    const date = new Date(session_date).toLocaleDateString('en-US', { month: 'short', day: 'numeric', year: 'numeric' });\n    output += `**${date}${persona ? ' — ' + persona : ''}**\\n`;\n    output += `${summary}\\n`;\n    if (key_decisions) output += `Decisions: ${key_decisions}\\n`;\n    output += '\\n';\n  }\n}\n\nreturn [{ json: { context: output } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[672,-80],"id":"1323f03e-6172-42aa-9d39-60f58b12e55a","name":"Code in JavaScript","executeOnce":true},{"parameters":{"respondWith":"text","responseBody":"={{ $json.context }}\n","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[896,-80],"id":"4be1c893-84f7-4a9d-9cca-c78151179c25","name":"Respond to Webhook"},{"parameters":{"operation":"executeQuery","query":"SELECT session_date, persona, topics, summary, key_decisions\nFROM conversations\nORDER BY session_date DESC\nLIMIT 7;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[448,-80],"id":"7ccccfc5-cd6a-404b-84b9-7e237369d245","name":"Get Conversations","credentials":{"postgres":{"id":"CNiR8MIJrYb086F1","name":"Claude Memory DB"}},"executeOnce":true}],"connections":{"Webhook":{"main":[[{"node":"Get Memories","type":"main","index":0}]]},"Get Memories":{"main":[[{"node":"Get Conversations","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Get Conversations":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]}},"authors":"Christopher carnoldbuildstech@gmail.com","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-29T21:11:29.313Z","id":29,"workflowId":"70OK45ZnjnIrrtcx","versionId":"e374188d-9d66-4417-9d36-0d4df40bd0f5","event":"activated","userId":"26a08216-6383-4c58-a0ef-dee54fa50bb0"},{"createdAt":"2026-03-29T21:11:29.281Z","id":28,"workflowId":"70OK45ZnjnIrrtcx","versionId":"e374188d-9d66-4417-9d36-0d4df40bd0f5","event":"deactivated","userId":"26a08216-6383-4c58-a0ef-dee54fa50bb0"}]}}