workflows/claude-memory-recap.json
{"updatedAt":"2026-03-29T17:10:03.610Z","createdAt":"2026-03-29T17:05:10.596Z","id":"kEcynE5YGq4LYvq5","name":"Claude Memory - Recap","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"conversation-recap","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"dac8315e-eb87-4317-84ca-c7ab25938caf","name":"Webhook","webhookId":"143ced44-8787-43c9-ae8f-38c1f58d1fb7"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO conversations (persona, topics, summary, key_decisions)\nVALUES ($1, ARRAY(SELECT json_array_elements_text($2::json)), $3, $4)\nRETURNING id, session_date, persona, summary;\n","options":{"queryReplacement":"={{ $json.body.persona }}, {{ $json.body.topics }}, {{ $json.body.summary }}, {{ $json.body.key_decisions }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[208,0],"id":"0c14cda6-c787-42c9-a843-af963f41336c","name":"Execute a SQL query","credentials":{"postgres":{"id":"CNiR8MIJrYb086F1","name":"Claude Memory DB"}}},{"parameters":{"respondWith":"allIncomingItems","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[416,0],"id":"438a0818-48eb-4c6c-86eb-128a9c9033ab","name":"Respond to Webhook"}],"connections":{"Webhook":{"main":[[{"node":"Execute a SQL query","type":"main","index":0}]]},"Execute a SQL query":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"145bc269-61b7-4daa-8fe6-4ff9519d4d29","activeVersionId":"145bc269-61b7-4daa-8fe6-4ff9519d4d29","versionCounter":23,"triggerCount":1,"shared":[{"updatedAt":"2026-03-29T17:05:10.599Z","createdAt":"2026-03-29T17:05:10.599Z","role":"workflow:owner","workflowId":"kEcynE5YGq4LYvq5","projectId":"6oNCtDfUlSRTDEYb","project":{"updatedAt":"2026-03-25T19:36:06.220Z","createdAt":"2026-03-25T19:29:07.071Z","id":"6oNCtDfUlSRTDEYb","name":"Christopher carnoldbuildstech@gmail.com <carnoldbuildstech@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"26a08216-6383-4c58-a0ef-dee54fa50bb0"}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-29T17:08:12.000Z","createdAt":"2026-03-29T17:08:07.569Z","versionId":"145bc269-61b7-4daa-8fe6-4ff9519d4d29","workflowId":"kEcynE5YGq4LYvq5","nodes":[{"parameters":{"httpMethod":"POST","path":"conversation-recap","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"dac8315e-eb87-4317-84ca-c7ab25938caf","name":"Webhook","webhookId":"143ced44-8787-43c9-ae8f-38c1f58d1fb7"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO conversations (persona, topics, summary, key_decisions)\nVALUES ($1, ARRAY(SELECT json_array_elements_text($2::json)), $3, $4)\nRETURNING id, session_date, persona, summary;\n","options":{"queryReplacement":"={{ $json.body.persona }}, {{ $json.body.topics }}, {{ $json.body.summary }}, {{ $json.body.key_decisions }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[208,0],"id":"0c14cda6-c787-42c9-a843-af963f41336c","name":"Execute a SQL query","credentials":{"postgres":{"id":"CNiR8MIJrYb086F1","name":"Claude Memory DB"}}},{"parameters":{"respondWith":"allIncomingItems","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[416,0],"id":"438a0818-48eb-4c6c-86eb-128a9c9033ab","name":"Respond to Webhook"}],"connections":{"Webhook":{"main":[[{"node":"Execute a SQL query","type":"main","index":0}]]},"Execute a SQL query":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"authors":"Christopher carnoldbuildstech@gmail.com","name":"Version 145bc269","description":"","autosaved":true,"workflowPublishHistory":[{"createdAt":"2026-03-29T17:08:12.407Z","id":12,"workflowId":"kEcynE5YGq4LYvq5","versionId":"145bc269-61b7-4daa-8fe6-4ff9519d4d29","event":"activated","userId":"26a08216-6383-4c58-a0ef-dee54fa50bb0"}]}}